<div class="container-fluid">
    <div class="page-header">
        <h1>Your new Kitty <small>ain't it a beut?</small></h1>
    </div>
    <ul class="list-group", style = "padding-bottom: 18px">
        <h1 style="text-indent: 10px"> <small> {{cat.name}} </small> </h1>
        <ul>
            <li class="list-group-item"> Age: {{cat.age}}</li>
            <li class="list-group-item", style="color:{{cat.color}}"> Color: {{cat.color}}</li>
        </ul>
    </ul>
</div>